# ingnore everything
/*

# but not these files 
!.gitignore
!.gitconfig
!.gitconfig-personal
!.gitconfig-work
!.profile
!.wezterm.lua
!.stylua.toml

# top-to-bottom sequence is important; last match to a file is valid
# allow scanning into /.config/
!/.config/
# disallow everything in /.config/
/.config/*
# except these directories
!/.config/nvim/
!/.config/fish/
!/.config/wezterm/
!/.config/zellij/
!/.config/hypr/
!/.config/kitty/

# ignore fish dir contents
/.config/fish/*
# except these files
!/.config/fish/config.fish

# ignore nvim dir contents
/.config/nvim/*
# except these directories
!/.config/nvim/lua/
